* {
    margin: 0%;
    padding: 0%;
}

#menu-h {
    background-color: black;
    opacity: 85%;
    height: 12vh;
    position: relative;
}

body {
    Display: Flex;
    Flex-direction: column;
    Align-items: center
}

.logo {
    height: 100px;
    width: 140px;
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-left: 5%;
}

.name {
    color:white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 230px;
    position: fixed;
    font-size: 40px;
}

.sobre {
    display: flex;
    position: relative;
}

.sobre .hdr .title {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 60px;
}

.sobre .hdr p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    display: flex;
    margin-top: 19px;
    margin-right: 25px;
    margin-bottom: 120px;
    margin-left: 20px;
    text-align: center;

    border: 3px solid #aebd86;
    border-radius: 15px;
}

.picture {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-left: 20vh;
}

.picture .product {
    display: flex;
    width: 300px;
    height: 300px;   
}

.picture .product .pate {
    margin-right: 115px;
    border: 1px solid black;
    border-radius: 15px;
}

.picture .product .queijo {
    margin-right: 115px;
    border: 1px solid black;
    border-radius: 15px;
}

.picture .product .aveia {
    border: 1px solid black;
    border-radius: 15px;
}

.buy{
    display: flex;
    position: relative;
}

.buy .name-p .pate-one {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    display: flex;
    margin-top: 320px;
    position: absolute;
    margin-left: 295px;
}

.buy .name-p .pate-two {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    display: flex;
    margin-top: 350px;
    position: absolute;
    margin-left: 395px;
}

.buy .name-p .queijo-one {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    display: flex;
    margin-top: 320px;
    position: absolute;
    margin-left: 873px;
}

.buy .name-p .queijo-two {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    display: flex;
    margin-top: 350px;
    position: absolute;
    margin-left: 940px;
}

 .buy .name-p .aveia-one {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    display: flex;
    position: absolute;
    margin-top: 320px;
    margin-left: 1400px;
}

.buy .name-p .aveia-two {
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    display: flex;
    position: absolute;
    margin-top: 350px;
    margin-left: 1450px;
}