* {
    margin: 0%;
    padding: 0%;
}

#menu-h {
    background-color: black;
    opacity: 85%;
    height: 12vh;
    position: relative;
}

.logo {
    height: 100px;
    width: 140px;
    display: flex;
    position: absolute;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-left: 5%;
}

.name {
    color:white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 17%;
    position: absolute;
    font-size: 40px;
}

.sobre {
    display: flex;
    position: relative;
}

.sobre .hdr .title {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sobre .hdr p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    display: flex;
    margin-top: 19px;
    margin-right: 25px;
    margin-bottom: 120px;
    margin-left: 20px;
    text-align: center;

    border: 3px solid #aebd86;
    border-radius: 15px;
}

.picture {
    display: flex;
    position: relative;
}

.picture .product {
    display: flex;
    width: 150px;
    height: 150px;   
}

.picture .product .pate {
    margin-right: 115px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 15px;
}

.picture .product .queijo {
    margin-right: 115px;
    border: 1px solid black;
    border-radius: 15px;
}

.picture .product .aveia {
    border: 1px solid black;
    border-radius: 15px;
}

.buy{
    display: flex;
    position: relative;
}

.buy .name-p .pate-one {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 75px;
}

.buy .name-p .pate-two {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 25px;
    margin-left: 130px;
}

.buy .name-p .queijo-one {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 425px;
}

.buy .name-p .queijo-two {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 25px;
    margin-left: 460px;
}

.buy .name-p .aveia-one {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 745px;
}

.buy .name-p .aveia-two {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    position: absolute;
    margin-top: 25px;
    margin-left: 770px;
}